* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5FAFE;
    color: #333333;
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

header {
    padding: 15px 130px;
    justify-content: space-between;
}

header a {
    color: #333333;
}

header li {
    padding-left: 5px;
}

.gift {
    list-style-image: url(../images/header/gift.png);
    padding-right: 70px;
}

.loyalty {
    list-style-image: url(../images/header/loyalty.png);
}

.nav-top{
    background: #ffffff;
    padding: 15px 130px;
    justify-content: space-between;
}

button, .flash-offer {
    background: #EC1F46;
    color: #ffffff;
    border: none;
}

.best-tag {
    font-family: 'Luckiest Guy', cursive;
    line-height: 45px;
    font-size: 29x;
}

.tour,
.pink-head{
    color: #EC1F46;
}

.nav-links{
    background: #0A223D;
    padding: 30px 130px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    margin-top: 15px;
}

.search-contain {
    background: #F5FAFE;
    border-radius: 10px;
    border: 0.1px solid transparent;
}

.search-box {
    padding: 15px 50px 15px 15px;
    border: none;
    background: #F5FAFE;
}

.btn-search {
    padding: 15px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-user {
    padding: 10px 0px;
}

.cart {
    margin-right: 40px;
}

.display-pic {
    margin-right: 18px;
}

.profile-user p {
    margin: 10px 5px;
}

.arrow-down {
    margin-top: 10px;
}

.nav-links a {
    color: #ffffff;
}

section,
footer {
    padding: 20px 130px;
}

.menu-info {
    font-size: 12px;
    margin-bottom: 40px;
}

.menu-info-two {
    font-size: 14px;
    margin-bottom: 28px;
}

.desc-img-div{
    padding-right: 20px;
}

.map-card {
    flex-direction: column;
    justify-content: space-between;
}

.card-box {
    background: #0A223D;
    color: #ffffff;
}

.desc-box,
.btn-book {
    font-family: 'Nunito', sans-serif;
}

.desc-card {
    padding: 30px 25px;
    border-radius: 8px;
}

.card-details {
    justify-content: space-between;
    margin-bottom: 15px;
}

.price-starts {
    font-size: 10px;
}

.per-room {
    font-size: 15px;
}

.btn-options {
    width: 100%;
    border-radius: 5px;
    padding: 17px 10px;
}

.map{
    position: relative;
}

.desc-ul-div {
    background-color: #ffffff;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin-bottom: 25px;
    margin-left: 80px;
}

.desc-ul {
    width: 160px;
    justify-content: space-between;
}

.desc-ul li {
    font-size: 10px;
}

.package-links {
    margin: 20px 0px;
    justify-content: space-between;
}

.package-links li {
    padding: 7px 0px;
    font-weight: bold;
}

.underline {
    border-bottom: 2.5px solid #EC1F46;
}

.li-blue {
    color: #007ADF;
}

.ul-li{
    list-style-image: url('../images/section-1/list-icon.png');
    font-size: 17px;
    /* padding-left: 10px; */
}

.valid{
    padding-left: 16px;
}

.date{
    list-style-image: url('../images/section-1/calendar.png');
}

.card {
    margin-top: 20px;
}

.upper-cards {
    width: 540px;
    justify-content: space-between;
}

.package-head{
    background: #0A223D;
    color: #ffffff;
    padding: 10px 20px;
}

.Package-card {
    background: #ffffff;
    padding: 20px;
}

.pack-wrap {
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-gap: 30px 50px;
}

.grid-item-one {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.grid-item-two {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.grid-item-tre {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.grid-item-for {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.grid-item-fiv {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.grid-item-six {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.flash-offer{
    padding: 5px;
    width: 105px;
    height: 30px;
    top: 0;
    left: 0;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}

.card-align {
    flex-direction: column;
}

.grid-contain {
    display: grid;
    grid-gap: 10px 20px;
}

.grid-item-one-two {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.grid-item-two-two {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.card-box {
    padding: 20px 10px 15px 25px;
}

.btn-book {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn-div {
    justify-content: space-between;
}

.right-arrow {
    
    margin-right: 130px;
}

.left-arrow {
    left: 0;
    position: absolute;
    margin-left: 130px;
}

.reviews h3 {
    text-align: center;
    margin-bottom: 90px;
}

.review-container {
    background-color: #ffffff;
    width: 740px;
    margin: 40px auto;
    position: relative;
}

.reviewer-detail {
    width: 100px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 300px;
    text-align: center;
}

.review-note-div {
    padding: 100px 80px 20px 80px;
}

.quote-end {
    position: absolute;
    top: 150px;
    right: 50px;
}

.newsletter{
    color: #ffffff;
    background: rgba(10, 34, 61, 0.8) url(../images/section-4/Rectangle\ 25.png);
    justify-content: space-between;
    padding: 50px 330px;
}

.send-box {
    padding: 10px 40px;
}

.btn-send {
    padding: 10px 40px;
}

.grid-activity {
    display: grid;
    grid-gap: 10px;
}

.grid-activity-one {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.grid-activity-two {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.grid-activity-tre {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.grid-activity-for {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.activity-image{
    position: relative;
    z-index: -1;
}

.activity-decs{
    padding: 150px 10px 10px 10px;
    position: absolute;
    color: #ffffff;
}

footer{
    background: #0A223D;
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;
}

footer a {
    color: #ffffff;
}

.footer-grid {
    display: grid;
    grid-gap: 10px;
}

.footer-grid-one{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.footer-grid-two{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.footer-grid-tre{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

.footer-grid-for{
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

.footer-grid-fiv{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.footer-grid-six{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.footer-grid-sev {
    grid-column: 3 / 5;
    grid-row: 3 / 3;
}

footer .best-tag {
    margin-top: 10px;
    line-height: 45px;
    font-size: 50px;
}

.contact-details {
    width: 500px;
}

.footer-btn {
    padding: 10px 20px;
}

.info-box {
    justify-content: space-between;
}

.personal-info {
    width: 270px;
    padding: 10px 100px 10px 10px;
}

.message {
    width: 100%;
    margin-top: 10px;
    padding: 10px 50px 100px 10px;
}

.require {
    margin-top: 10px;
    justify-content: space-between;
}

.require p {
    display: flex;
    align-items: center;
}